@import "fonts";


*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'GothamRounded-Medium';
}



$color_ungu : #723f96;


img {
    max-width: 100%;
}

.main {
    .main-container {
        .background-home {
            background-color: $color_ungu;
            background-image: url(../images/bg-wave.png), url(../images/bg-icon.png),;
            padding: 10rem;
            background-size: 100%, 40%;
            background-repeat: no-repeat;
            background-position: bottom center, 0% 20%;
            margin-bottom: -70%;
        }
    }
 
    .header-content {
        padding:1.5rem;
        .text-content {
            text-decoration: none;
            color:white;
            margin-bottom: 10px;
        
            .title{
                h1{
                    font-family: 'GothamRounded-Book';
                }
                
            }
            .subtitle{
                display : flex;
                h5{
                    font-family: 'GothamRounded-Light';
                }

               .date-icon {
                   width: 15px;
                   height: 15px;
                   margin-right: 0.5rem;
               } 
            }
        }
    }

        .container{
            display : flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: flex-start;
            padding:1.5rem;
            
            .box-content {
                padding : 1rem;
                margin-bottom: 1rem;
                width: 48%;
                background-color: white;
                border-radius: 10px;
                box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
                p {
                    font-family: 'GothamRounded-Light';
                }

            .image-content {
                display : flex;
                justify-content: space-between;

                img {
                    max-width: 2.5rem;
                    margin-bottom: 3rem;
                    margin-right: 4rem;
                }
            }

            .round{
                width: 0.5rem;
                height: 0.5rem;
                border-radius: 100%;
            }
            }
        }
        
    .buttonPlus {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 4rem;
        height: 4rem;
        background-color: $color_ungu;
        border-radius:100%;
        bottom:1.5rem;
        left: 50%;
        transform: translateX(-50%);
        cursor: pointer;
        span {
            color:white;
            font-size: 4rem;
        }
    }
    
    
   


}
